---
import { format, parseISO } from "date-fns";
import { marked } from "marked";
import Tag from "./Tag.astro";
import TagContainer from "./TagContainer.astro";
import { ConfigService } from "../services/config.service";

export interface Props {
  news: NewsEntry;
}

const { news } = Astro.props;
const formattedCreationDate = format(
  parseISO(news.creationDate),
  ConfigService.getConfig().card.dateFormat
);
---

<div class="card" data-news-id={news.id} data-testid="news-card">
  <div class="card-title">
    <a href={news.url}>{news.title}</a>
  </div>
  <TagContainer class="card-tags">
    {news.tags.map((tag) => <Tag>{tag}</Tag>)}
  </TagContainer>
  <div class="card-content" set:html={marked.parse(news.content)} />
  <div class="card-date">{formattedCreationDate}</div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 1px 1px 15px var(--border-shadow);
    padding: 16px;
    background-color: var(--card--background-color);

    .card-content {
      pre {
        width: 100%;
        overflow-x: auto;
        padding: 1rem;
      }
    }

    .card-date {
      text-align: end;
    }
  }
</style>

<style is:global>
  .card[data-news-id] .card-content blockquote {
    margin: 8px 16px;
    padding: 0 16px;
    border-left: 4px solid var(--card--blockquote-border);
  }
</style>
