---
import { Icon } from "astro-icon/components";
import { format, parseISO } from "date-fns";
import { marked } from "marked";
import { Tag } from "./tag/Tag.react";
import { TagContainer } from "./tag/TagContainer.react";
import { ConfigService } from "../services/config.service";
import { tryGetUrlPreview } from "../utils/post.util";
import { SocialNetworkService } from "../services/social-network.service";

export interface Props {
  news: NewsEntry;
  editable?: boolean;
}

const { news, editable = false } = Astro.props as Props;
const formattedCreationDate = format(
  parseISO(news.creationDate),
  ConfigService.getConfig().card.dateFormat
);

const previews = tryGetUrlPreview(news.url);

const socialNetworkLink = SocialNetworkService.getSocialNetworkFromUrl(
  news.url
);
const socialNetworkIcon = SocialNetworkService.getIcon(socialNetworkLink);
---

<div class="card" data-news-id={news.id} data-testid="news-card">
  <div class="card-title">
    <a href={news.url}
      >{news.title}{
        socialNetworkIcon && (
          <Icon name={socialNetworkIcon} aria-hidden="true" />
        )
      }</a
    >
    {
      editable && (
        <a
          class="btn secondary edit-post"
          href={"/edit/" + news.id}
          aria-label={"Edit " + news.title}
        >
          <Icon name="lucide:file-edit" aria-hidden="true" /> Edit
        </a>
      )
    }
  </div>
  <TagContainer class={["card-tags"]}>
    {news.tags.map((tag) => <Tag>{tag}</Tag>)}
  </TagContainer>
  <div class="card-content" set:html={marked.parse(previews + news.content)} />
  <div class="card-date">{formattedCreationDate}</div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 1px 1px 15px var(--border-shadow);
    padding: 16px;
    background-color: var(--card--background-color);

    .card-title {
      display: flex;
      justify-content: space-between;

      a:not(.btn) {
        svg[data-icon] {
          display: inline-block;
          height: 1.25em;
          width: 1.25em;
          margin-top: 0.25em;
          margin-bottom: -0.25em;
          margin-left: 0.5em;
        }
      }
      a.btn.edit-post {
        display: flex;
        align-items: center;
        gap: 0 0.5rem;
        align-self: flex-start;
        svg[data-icon] {
          height: 1.25em;
          width: 1.25em;
          margin-top: -0.125em;
        }
      }
    }

    .card-content {
      blockquote {
        margin: 8px 16px;
        padding: 0 16px;
        border-left: 4px solid var(--card--blockquote-border);
      }
      pre {
        overflow-x: auto;
        padding: 1rem;
        background-color: var(--color--black);
      }
      p > code {
        padding: 0.2rem 0.3rem;
        margin-top: -0.2rem;
        background-color: var(--color--black);
      }
      p:has(img:first-child:last-child),
      p:has(iframe:first-child:last-child) {
        display: flex;
        justify-content: center;
        a,
        img {
          max-width: min(100%, 40rem);
        }
      }
      p a:has(img[title="Youtube video preview"]) {
        position: relative;
        &::after {
          content: "";
          background-image: url("/lucide--circle-play.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          position: absolute;
          top: calc(50% - (3rem));
          left: calc(50% - (3rem));
          width: 6rem;
          height: 6rem;
        }
      }
    }

    .card-date {
      text-align: end;
    }
  }
</style>

<script>
  import { extractYoutubeVideoId } from "../utils/post.util";

  const videoPreviews = document.querySelectorAll<HTMLImageElement>(
    'img[title="Youtube video preview"]'
  );
  for (const videoPreview of videoPreviews) {
    videoPreview.addEventListener("click", (e) => {
      e.preventDefault();
      e.stopPropagation();
      const embed = document.createElement("iframe");
      const videoId = extractYoutubeVideoId(videoPreview.alt);
      Object.assign(embed, {
        width: "560px",
        height: "315px",
        src: `https://youtube.com/embed/${videoId}`,
        title: "YouTube video player",
        frameborder: 0,
        allow:
          "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
        referrerpolicy: "strict-origin-when-cross-origin",
        allowfullscreen: "true",
      });
      videoPreview.parentElement?.replaceWith(embed);
    });
  }
</script>
